<%- include('../partials/header.ejs') %>

        <div class="container">
            <h1>Part One</h1>
            <p>This section contains the topics I believe are right to begin with as an introduction to Computer Science on your path to a software engineer.</p>
            
            <% const topics = ["Computers, Computer Programs, and Java", "Introductory computer programming", "Primitive types", "Math functions",  "Strings & Characters"]; %>
            <h2>Computers, Computer Programs, and Java</h2>
            <ul>
                <li>Computers in the perspective of a software engineer</li>
                <ul>
                    <li>CPUs</li>
                    <li>Memory</li>
                    <li>Disk space</li>
                </ul>
                <li>Computer Programs</li>
                <ul>
                    <li>foo</li>
                </ul>
                <li>Java</li>
                <ul>
                    <li>Why Java?</li>
                </ul>
            </ul>
            <h2>Introductory computer programming</h2>
                <ul>
                    <li>Hello world!</li>
                </ul>
            <h2>Primitive types</h3>
                <h3>What are Primitive Types and why are they important?</h3>
                <p></p>
                <ul>
                    <li>int</li>
                    <li>char</li>
                    <li>long</li>
                    <li>boolean</li>
                    <li>short</li>
                    <li>double</li>
                    <li>float</li>
                    <li>byte</li>
                </ul>
            <h2>Math functions</h2>
                <h3>Math funcitons in programming why are they important?</h3>
                <p></p>
                <ul>
                    <li>ceil</li>
                    <li>floor</li>
                    <li>sqrt</li>
                    <li>pow</li>
                    <li>Add, Subtract, Divide, Multiply</li>
                </ul>
            <h2>Strings & Characters</h2>
                <h3>String and Chars and their use cases</h3>
                <p></p>
                <ul>
                    <li>String format/interpolation over '+'</li>
                    <li>Substring</li>
                    <li>Lowercase/Uppercase</li>
                </ul>
            <h2>Control Flow</h2>
                <ul>
                    <li>What is Control Flow?</li>
                    <li>if-else</li>
                    <li>switch</li>
                </ul>
            <h2>Classes</h2>
                <ul>
                    <li>Defining a custom class</li>
                </ul>
            <h2>Methods & Scope</h2>
                <ul>
                    <li>What is scope?</li>
                    <li>Method signatures</li>
                </ul>
            <h2>Intro Data Structures</h2>
                <ul>
                    <li>Arrays</li>
                    <li>Linked Lists</li>
                    <li>Stacks</li>
                    <li>Queues</li>
                    <li>Maps</li>
                    <li></li>
                </ul>
            <h2>Debugging Errors</h2>
                <ul>
                    <li>The different types of errors (Compile time vs Build time vs Runtime)</li>
                    <li>How to read the compiler</li>
                </ul>
            <h2>Developer Resources</h2>
                <ul>
                    <li>Stack Overflow</li>
                    <li>Github</li>
                </ul>
            <h2>Beginner Challenges</h2>
            <ul>
                <li>Calculator</li>
                <li>Calander application</li>
            </ul>
            <h2>Resumé Project</h2>
            <ul>
                <li>iOS Application</li>
            </ul>




<%- include('../partials/footer.ejs') %>
