<%- include('../partials/header.ejs') %>

        <div class="container">
            <h1>Part One</h1>
            <p>This section contains the topics I believe are right to begin with as an introduction to Computer Science on your path to a software engineer.</p>
            
            <% const topics = ["Introduction", "Computers, Computer Programs, and Java", "Introductory computer programming", "Primitive types", "Math functions",  "Strings & Characters"]; %>
            <% for (var i =0; i < topics.length;  i++ ) { %>
                <% const t = topics[i]%>
                <h2> <%= t %> </h2>
                <% if (t == "Introduction") { %>
                    <p>Hello, welcome to your the beginning of your journey to becoming a software engineer! This website serves as...My name is Rolando and I've been in your shoes before.
                        My origins in Computer Science & Software Engineering didn't start by having parents introduce me to the field, or a group of friends that built cool side projects,
                        or even a school that had STEM related curriculums. My parents are both immigrants from Honduras with at most a Honduran Highschool education. My friends have no programming
                        experience. I've also attended a pretty normal public Highschool in Florida that had the typical I.B classes (which I never took) and put a pretty big emphasis on our football team :).
                        My journey in this field began by simply having the desire to make an iPhone app and publish it in the App Store, that's it! That thought was actually sparked by this
                        Youtube video: . From that point on, little did I know I would be embarking on a great journey that would open many door in my life and also try my mental fortitude to see
                        everything though. At times, it was very hard. The good thing is, and it's often a misconception about computer programming, but you DON'T have to be a genius.
                    </p>
                    <p>A quote from Steve Jobs:</p>
                    <blockquote>
                        “When you grow up you tend to get told that the world is the way it is and your life is just to live your life inside the world. 
                        Try not to bash into the walls too much. Try to have a nice family life, have fun, save a little money. 
                        That's a very limited life. Life can be much broader once you discover one simple fact: Everything around you that you call life was made up by people that were no smarter than you. 
                        And you can change it, you can influence it… Once you learn that, you'll never be the same again.”
                    </blockquote>
                <% } else if (t == "Introductory computer programming") { %>
                    <ul>
                        <li>Hello world!</li>
                    </ul>
                <% } else if (t == "Primitive types") { %>
                    <h3>What are Primitive Types and why are they important?</h3>
                    <p></p>
                    <ul>
                        <li>int</li>
                        <li>char</li>
                        <li>long</li>
                        <li>boolean</li>
                        <li>short</li>
                        <li>double</li>
                        <li>float</li>
                        <li>byte</li>
                    </ul>
                <% } else if (t == "Math functions") { %>
                    <h3>Math funcitons in programming why are they important?</h3>
                    <p></p>
                    <ul>
                        <li>ceil</li>
                        <li>floor</li>
                        <li>sqrt</li>
                        <li>pow</li>
                        <li>Add, Subtract, Divide, Multiply</li>
                    </ul>
                <% } else if (t == "Strings & Characters") { %>
                    <h3>String and Chars and their use cases</h3>
                    <p></p>
                    <ul>
                        <li>String format/interpolation over '+'</li>
                        <li>Substring</li>
                        <li>Lowercase/Uppercase</li>
                    </ul>
                <% } else {} %>
                <% %>
                <% %>
            <% } %>
            



<%- include('../partials/footer.ejs') %>
