<%- include('../partials/header.ejs') %>
<div class="container">
    <h1>About</h1>
    <!--Who this sites for-->
    <h2>Who this site was created with in mind</h2>
    <p></p>
    
    <!--About the Author-->
    <h2>About the author</h2>
    <!--------------------------l
    l [ enter self portait ;) ] l
    <--------------------------->
</div>