<%- include('../partials/header.ejs') %>
<div class="container">
    <h1>Contact & Feedback</h1>
    <!--We'd love to hear your feedback!-->
    <h2>We'd love to hear your feedback!</h2>
    <!--Fill out this form-->
    
    <!--Have personal questions?-->
    <h2>Contact me directly</h2>
    <!--Make this available for only members-->

</div>